* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.quiz_app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8;
  padding: 15px;
}

.quiz-info {
  display: flex;
  background-color: white;
  padding: 20px;
}

.quiz-info .catogery {
  flex: 1;
}

.quiz-info .count {
  flex: 1;
  text-align: right;
}

.quiz_app .quiz-area {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}

.quiz_app .answers-area {
  background-color: white;
  padding: 20px 20px;
  margin-top: 15px;
}

.answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}

.answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}

.answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.quiz_app .submit-button {
  background-color: #0075ff;
  display: block;
  width: 90%;
  margin-inline: auto;
  margin-block: 15px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.quiz_app .submit-button:focus {
  outline: none;
}

.quiz_app .bullets {
  background-color: white;
  display: flex;
  padding: 20px;
}

.quiz_app .bullets .spans {
  flex: 1;
  display: flex;
}

.quiz_app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #eee;
  margin-right: 5px;
  border-radius: 50%;
}

.quiz_app .bullets .spans span.on {
  background-color: #0075ff;
}

.quiz_app .results span{
  font-weight: bold;
}
.quiz_app .results span.bad{
  color: #dc0a0a ;
}
.quiz_app .results span.good{
  color: #009600 ;
}
.quiz_app .results span.perfect{
  color: #0075ff ;
}